<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<module xmlns="urn:jboss:module:1.9" name="org.wildfly.extension.ai">

    <properties>
        <property name="jboss.api" value="private"/>
        <property name="jboss.stability" value="experimental"/>
    </properties>

    <resources>
        <artifact name="${org.wildfly.generative-ai:wildfly-ai-subsystem}"/>
    </resources>

    <dependencies>
        <module name="dev.langchain4j"/>
        <module name="dev.langchain4j.chroma" optional="true"/>
        <module name="dev.langchain4j.gemini" optional="true"/>
        <module name="dev.langchain4j.github" optional="true"/>
        <module name="dev.langchain4j.mcp-client" optional="true"/>
        <module name="dev.langchain4j.neo4j" optional="true"/>
        <module name="dev.langchain4j.ollama" optional="true"/>
        <module name="dev.langchain4j.weaviate" optional="true"/>
        <module name="dev.langchain4j.web-search-engines" optional="true"/>
        <module name="io.smallrye.jandex"/>
        <module name="dev.langchain4j.cdi"/>
        <module name="jakarta.enterprise.api"/>
        <module name="java.logging"/>
        <module name="java.net.http"/>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.version"/>
        <module name="org.jboss.as.network"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.as.weld.common"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.wildfly.common"/>
        <module name="org.wildfly.concurrency"/>
        <module name="org.wildfly.extension.ai.injection"/>
        <module name="org.wildfly.security.elytron-private"/>
        <module name="org.wildfly.service"/>
        <module name="org.wildfly.subsystem"/>
        <!-- OpenTelemetry -->
        <module name="org.wildfly.extension.opentelemetry-api" optional="true"/>
    </dependencies>
</module>
