<?xml version="1.0" encoding="UTF-8"?>
<!--
~ Copyright The WildFly Authors
~ SPDX-License-Identifier: Apache-2.0
-->
<module name="org.extism.sdk.chicory-sdk" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
        <property name="jboss.stability" value="experimental"/>
    </properties>

    <resources>
        <artifact name="${com.dylibso.chicory:compiler}"/>
        <artifact name="${com.dylibso.chicory:log}"/>
        <artifact name="${com.dylibso.chicory:runtime}"/>
        <artifact name="${com.dylibso.chicory:wasi}"/>
        <artifact name="${com.dylibso.chicory:wasm}"/>
        <artifact name="${org.extism.sdk:chicory-sdk-core}"/>
        <artifact name="${org.extism.sdk:http-api}"/>
        <artifact name="${org.extism.sdk:http-client-javanet}"/>
        <artifact name="${org.extism.sdk:http-config-generic}"/>
        <artifact name="${org.extism.sdk:http-json-jackson}"/>
    </resources>
    <dependencies>
        <module name="com.fasterxml.jackson.core.jackson-annotations"/>
        <module name="com.fasterxml.jackson.core.jackson-core"/>
        <module name="com.fasterxml.jackson.core.jackson-databind"/>
        <module name="java.logging"/>
        <module name="java.net.http"/>
        <module name="asm.asm-commons"/>
    </dependencies>

</module>
