<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="com.azure" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
        <property name="jboss.stability" value="experimental"/>
    </properties>

    <resources>
        <artifact name="${com.azure:azure-ai-inference}"/>
        <artifact name="${com.azure:azure-core}"/>
        <artifact name="${com.azure:azure-core-http-netty}"/>
        <artifact name="${com.azure:azure-core-serializer-json-jackson}"/>
        <artifact name="${com.azure:azure-json}"/>
        <artifact name="${com.azure:azure-xml}"/>
    </resources>

    <dependencies>
        <module name="java.xml"/>
        <module name="com.fasterxml.jackson.core.jackson-annotations"/>
        <module name="com.fasterxml.jackson.core.jackson-core"/>
        <module name="com.fasterxml.jackson.core.jackson-databind"/>
        <module name="com.fasterxml.jackson.datatype.jackson-datatype-jsr310"/>
        <module name="org.slf4j"/>
        <module name="io.projectreactor"/>
    </dependencies>
</module> 
