<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="dev.langchain4j.weaviate" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
        <property name="jboss.stability" value="experimental"/>
    </properties>

    <resources>
        <artifact name="${dev.langchain4j:langchain4j-weaviate}"/>
        <artifact name="${io.weaviate:client}"/>
    </resources>

    <dependencies>
        <module name="com.google.code.gson"/>
        <module name="org.slf4j"/>
        <module name="java.logging"/>
        <module name="dev.langchain4j"/>
        <module name="org.apache.httpcomponents"/>
        <module name="org.apache.commons.lang3"/>
    </dependencies>
</module> 
