<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="dev.langchain4j.github" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
        <property name="jboss.stability" value="experimental"/>
    </properties>

    <resources>
        <artifact name="${dev.langchain4j:langchain4j-github-models}"/>
    </resources>

    <dependencies>
        <module name="com.azure"/>
        <module name="dev.langchain4j"/>
        <module name="io.projectreactor"/>
        <module name="org.slf4j"/>
    </dependencies>
</module> 
