<?xml version="1.0" encoding="UTF-8"?>

<!--
~ Copyright The WildFly Authors
~ SPDX-License-Identifier: Apache-2.0
-->

<module xmlns="urn:jboss:module:1.9" name="asm.asm-commons">

    <properties>
        <property name="jboss.api" value="private"/>
        <property name="jboss.stability" value="experimental"/>
    </properties>

    <resources>
        <artifact name="${org.ow2.asm:asm-commons}"/>
    </resources>
    <dependencies>
        <module name="asm.asm" export="true"/>
    </dependencies>
</module>

