<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="dev.langchain4j.cdi" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
        <property name="jboss.stability" value="experimental"/>
    </properties>

    <resources>
        <artifact name="${dev.langchain4j.cdi:langchain4j-cdi-core}"/>
        <artifact name="${dev.langchain4j.cdi:langchain4j-cdi-portable-ext}"/>
        <artifact name="${dev.langchain4j.cdi.mp:langchain4j-cdi-telemetry}"/>
    </resources>

    <exports>
        <exclude path="META-INF"/>
    </exports>

    <dependencies>
        <module name="dev.langchain4j"/>
        <module name="dev.langchain4j.chroma" optional="true"/>
        <module name="dev.langchain4j.mcp-client" optional="true"/>
        <module name="dev.langchain4j.mistral-ai" optional="true"/>
        <module name="dev.langchain4j.neo4j" optional="true"/>
        <module name="dev.langchain4j.ollama" optional="true"/>
        <module name="dev.langchain4j.openai" optional="true"/>
        <module name="dev.langchain4j.weaviate" optional="true"/>
        <module name="dev.langchain4j.web-search-engines" optional="true"/>
        <module name="jakarta.enterprise.api"/>
        <module name="java.logging"/>
        <module name="org.jboss.logging"/>
        <module name="org.wildfly.extension.ai.injection" services="import"/>
        <!-- OpenTelemetry -->
        <module name="org.wildfly.extension.opentelemetry-api" optional="true"/>
    </dependencies>
</module> 
