<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="dev.langchain4j.embeddings.all-minilm-l6-v2-q" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
        <property name="jboss.stability" value="experimental"/>
    </properties>

    <resources>
        <artifact name="${dev.langchain4j:langchain4j-embeddings-all-minilm-l6-v2-q}"/>
    </resources>

    <dependencies>
        <module name="com.fasterxml.jackson.core.jackson-annotations"/>
        <module name="com.fasterxml.jackson.core.jackson-core"/>
        <module name="com.fasterxml.jackson.core.jackson-databind"/>
        <module name="dev.langchain4j"/>
    </dependencies>
</module>
